body,
html {
  margin: 0;
  height: 100%;
  padding: 0;
  overflow-x:hidden;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  text-transform: uppercase;
}

img {
  width: 100%;
  height: 100%;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 36px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.container {
  display: block;
  height: 100vh;
  width: 1200px;
  margin: auto;

  background: #fff;
}

.icon-switch {
  display: flex;
  justify-content: end;
}

.icon-switch-icon {
  cursor: pointer;
}

.list-view {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.list-view-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  
  background-color: rgb(243, 243, 243);
}

.cards-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px;
}

.item-img {
  height: 120px;
}

.item-price {
  color: red;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 28%;
  margin-bottom: 20px;

  background-color: rgb(243, 243, 243);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-img {
  height: 200px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 10px;

  color: red;
}

.price {
  margin-left: 30px;
}

button {
  margin-right: 30px;
  height: 30px;
  width: 100px
  ;
  cursor: pointer;
  color: red;
  border: 1px solid red;
  border-radius: 15px;
}
