body,
html {
  margin: 0;
  height: 100%;
  padding: 0;
  overflow-x:hidden;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 36px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.container {
  display: block;
  height: 100vh;
  width: 70vw;
  margin: auto;

  background: #fff;
}

.icon-switch {
  display: flex;
  justify-content: end;
}

.icon-switch-icon {
  cursor: pointer;
}

.projects {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  /* height: 100vmax; */
}

.project {
  width: 30%;
  margin: 5px;
}

img {
  width: 100%;
}
